




body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;

}

img{}

.container{
    width: 90%;
    margin: auto;
}

header{
    box-shadow: rgba(185, 3, 3, 0.1) 0px 4px 6px -1px, rgba(77, 1, 1, 0.06) 0px 2px 4px -1px;

}

.nav-main{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;


}
.nav-main img{}
nav {}
nav ul{
    margin: 0;
    padding: 0;
    
    
}
nav ul li{
    display: inline;
    padding: 0 0 0 40px;
}

nav ul li a{
    text-decoration: none;
    color: #3b506c;
    font-weight: 600;
    font-size: 17px;
}

/*==========banner start ===============*/

.banner{
    text-align: center;
    padding: 50px 0 0 0;
}
.banner h1{
    font-size: 72px;
    color: #2f435e;
    margin: 0;
}
.banner h1 span{
    color: #0c66ff;
}
.banner p{
    font-size: 20px;
}
.banner img{
    width: 70%;
    margin: auto;
    margin: 30px 0 0 0;
}

/* ============= complete project ==============*/
.complete{
    display: flex;
    margin: 50px 0 0 0;
}
.complete-child{
    width: 50%;
    text-align: right;
    padding: 20px;
}
.complete-child h2{
    font-size: 40px;
    color: #3b506c;
}
.complete-child p{}

.child1{
    color: red !important;
}
.child2{
    text-align: left;
}

footer{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* blog section here*/
.blog-section{
    padding: 50px;
    height: 550px;
}

.col{
    width: 33.33%;
    float: left;
    

}
.blog{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(100 100 111 / 23%) 0px 7px 29px 0px;
}
.blog img{
    max-width: 250px;
    width: 100%;
    padding-top: 50px;
    
}
.blog h3{
    color: #3b506c;
    font-size: 30px;

}
.blog p{
    font-size: 17px;
    color: #3b506c;
}

.red{
    background-color: rgba(255, 0, 0, 0.103);
}
.blue{
    background-color: rgba(0, 128, 0, 0.116);

}
.yellow {
    background-color: rgba(255, 255, 0, 0.126);
}

.blog:hover{
    transition: all 0.5s ease;
    background-color:rgba(234, 0, 255, 0.144);
    box-shadow: rgba(53, 53, 152, 0.363) 0px 7px 29px 0px;

}

/* footer start*/

footer{
    background-color: white;
    padding: 50px 0 300px 0;
}
.footer-item{
    width: 25%;
    float: left;

}

.footer-item h3{
    font-size: 25px;
    text-align: left;
    color: #3b506c;
}
.footer-item ul{
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;

}
.footer-item ul a{
    text-decoration: none;

}

.footer-item ul li{
    font-size: 20px;
    line-height: 30px;
    color: #3b506c;

}

.apple{
    color: red;
    text-align: center;
}